['MultiMarkdown', 'FILTER', 'multimarkdown', 'admin', 'firstname', 'Your', 'campaign', 'title', 'campaign_link', 'ended', 'tilt', 'credit', 'cards', 'were', 'charged', 'start', 'another', 're-do', 'this', 'Heck', 'Just', 'going', 'new_campaign_link', 'asap', 'Cheers', 'Crowdtilt', 'Team', '<span ', 'style="font-size: 10px"', 'received', 'email', 'error', 'please', 'know', 'support', 'crowdtilt', 'mailto:support', '</span>']
